{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://dev.ohiochristian.edu/sites/all/themes/ocu/assets/css/ocu.style.css?rbsl57">
    <link rel="stylesheet" href="https://dev.ohiochristian.edu/sites/all/modules/ocu/dmf/assets/css/dmf_page.css?rbsl57">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Catalog App</title>
  </head>
  <body>

    <!-- Option 1: Bootstrap Bundle with Popper -->


	{% block content %}

	{% endblock %}

	</div>
  <script src="{% static 'dmf_ezfactory.js' %}"></script>
  <script src="{% static 'dmf_page.js' %}"></script>
  <!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://dev.ohiochristian.edu/misc/jquery.js?v=1.4.4"></script>
  <script src="https://dev.ohiochristian.edu/sites/all/modules/ocu/dmf/assets/js/dmf_ezfactory.js?rbsl57"></script>
  <script src="https://dev.ohiochristian.edu/sites/all/modules/ocu/dmf/assets/js/dmf_page.js?rbsl57"></script>
  -->
  </body>
</html>

