{% extends 'base.html' %}
{% load catalog_tags static %}
{% block content %}
<!-- templtes/demo.html -->

{% if demo %}
<div>{{ demo }}</div>
{% endif %}

{% dmf_fp_dropdown_block %}
<hr>
<h1>Tag Examples:</h1>
<p class="my-5">&nbsp;</p>
{%  dmf___DDB_school_of_business_dept  %}
<p class="my-5">&nbsp;</p>
{%  dmf___DDB_school_of_education_dept  %}
<p class="my-5">&nbsp;</p>
{%  dmf___DDB_school_of_social_BS_dept  %}
<p class="my-5">&nbsp;</p>
{%  dmf___DDB_music_dept  %}
<p class="my-5">&nbsp;</p>
{%  dmf___DDB_theology_ministry_dept  %}
<p class="my-5">&nbsp;</p>


<h2>School of Arts and Sciences</h2>
<p>'school-arts-sciences' 'degree' 'exclude:theology-and-ministry'</p>
{% dmf_program_parent_expanding_block 'school-arts-sciences' 'degree' 'exclude:theology-and-ministry' %}

<h2>BA and MA Degrees, except theology</h2>
<p>'union' 'bachelor-of-arts' 'masters' 'exclude:theology-and-ministry' 'exclude:school-of-business'</p>
{% dmf_program_parent_expanding_block 'union' 'bachelor-of-arts' 'masters' 'exclude:theology-and-ministry' 'exclude:school-of-business' %}

{% endblock %}

