.fp-parallax-left-5 {
  left: 5%;
}

.fp-parallax-left-10 {
  left: 10%;
}

.fp-parallax-left-15 {
  left: 15%;
}

.fp-parallax-left-20 {
  left: 20%;
}

.fp-parallax-left-25 {
  left: 25%;
}

.fp-parallax-left-30 {
  left: 30%;
}

.fp-parallax-left-35 {
  left: 35%;
}

.fp-parallax-left-40 {
  left: 40%;
}

.fp-parallax-left-45 {
  left: 45%;
}

.fp-parallax-left-50 {
  left: 50%;
}

.fp-parallax-left-55 {
  left: 55%;
}

.fp-parallax-left-60 {
  left: 60%;
}

.fp-parallax-left-65 {
  left: 65%;
}

.fp-parallax-left-70 {
  left: 70%;
}

.fp-parallax-left-75 {
  left: 75%;
}

.fp-parallax-left-80 {
  left: 80%;
}

.fp-parallax-left-85 {
  left: 85%;
}

.fp-parallax-left-90 {
  left: 90%;
}

.fp-parallax-left-95 {
  left: 95%;
}

.fp-parallax-left-100 {
  left: 100%;
}

.w-10 {
  width: 10% !important;
}

.maxw-10 {
  max-width: 10% !important;
}

.minw-10 {
  min-width: 10% !important;
}

.h-10 {
  height: 10% !important;
}

.minh-10 {
  min-height: 10% !important;
}

.maxh-10 {
  max-height: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.maxw-15 {
  max-width: 15% !important;
}

.minw-15 {
  min-width: 15% !important;
}

.h-15 {
  height: 15% !important;
}

.minh-15 {
  min-height: 15% !important;
}

.maxh-15 {
  max-height: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.maxw-20 {
  max-width: 20% !important;
}

.minw-20 {
  min-width: 20% !important;
}

.h-20 {
  height: 20% !important;
}

.minh-20 {
  min-height: 20% !important;
}

.maxh-20 {
  max-height: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.maxw-25 {
  max-width: 25% !important;
}

.minw-25 {
  min-width: 25% !important;
}

.h-25 {
  height: 25% !important;
}

.minh-25 {
  min-height: 25% !important;
}

.maxh-25 {
  max-height: 25% !important;
}

.w-33 {
  width: 33% !important;
}

.maxw-33 {
  max-width: 33% !important;
}

.minw-33 {
  min-width: 33% !important;
}

.h-33 {
  height: 33% !important;
}

.minh-33 {
  min-height: 33% !important;
}

.maxh-33 {
  max-height: 33% !important;
}

.w-50 {
  width: 50% !important;
}

.maxw-50 {
  max-width: 50% !important;
}

.minw-50 {
  min-width: 50% !important;
}

.h-50 {
  height: 50% !important;
}

.minh-50 {
  min-height: 50% !important;
}

.maxh-50 {
  max-height: 50% !important;
}

.w-66 {
  width: 66% !important;
}

.maxw-66 {
  max-width: 66% !important;
}

.minw-66 {
  min-width: 66% !important;
}

.h-66 {
  height: 66% !important;
}

.minh-66 {
  min-height: 66% !important;
}

.maxh-66 {
  max-height: 66% !important;
}

.w-75 {
  width: 75% !important;
}

.maxw-75 {
  max-width: 75% !important;
}

.minw-75 {
  min-width: 75% !important;
}

.h-75 {
  height: 75% !important;
}

.minh-75 {
  min-height: 75% !important;
}

.maxh-75 {
  max-height: 75% !important;
}

.w-80 {
  width: 80% !important;
}

.maxw-80 {
  max-width: 80% !important;
}

.minw-80 {
  min-width: 80% !important;
}

.h-80 {
  height: 80% !important;
}

.minh-80 {
  min-height: 80% !important;
}

.maxh-80 {
  max-height: 80% !important;
}

.w-90 {
  width: 90% !important;
}

.maxw-90 {
  max-width: 90% !important;
}

.minw-90 {
  min-width: 90% !important;
}

.h-90 {
  height: 90% !important;
}

.minh-90 {
  min-height: 90% !important;
}

.maxh-90 {
  max-height: 90% !important;
}

.w-100 {
  width: 100% !important;
}

.maxw-100 {
  max-width: 100% !important;
}

.minw-100 {
  min-width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.minh-100 {
  min-height: 100% !important;
}

.maxh-100 {
  max-height: 100% !important;
}

.opacity-0 {
  opacity: 0.0 !important;
}

.opacity-1 {
  opacity: 0.1 !important;
}

.opacity-2 {
  opacity: 0.2 !important;
}

.opacity-3 {
  opacity: 0.3 !important;
}

.opacity-4 {
  opacity: 0.4 !important;
}

.opacity-5 {
  opacity: 0.5 !important;
}

.opacity-6 {
  opacity: 0.6 !important;
}

.opacity-7 {
  opacity: 0.7 !important;
}

.opacity-8 {
  opacity: 0.8 !important;
}

.opacity-9 {
  opacity: 0.9 !important;
}

.opacity-10 {
  opacity: 1 !important;
}

.mbm-normal {
  mix-blend-mode: normal !important;
}

.mbm-multiply {
  mix-blend-mode: multiply !important;
}

.mbm-screen {
  mix-blend-mode: screen !important;
}

.mbm-overlay {
  mix-blend-mode: overlay !important;
}

.mbm-darken {
  mix-blend-mode: darken !important;
}

.mbm-lighten {
  mix-blend-mode: lighten !important;
}

.mbm-color-dodge {
  mix-blend-mode: color-dodge !important;
}

.mbm-color-burn {
  mix-blend-mode: color-burn !important;
}

.mbm-hard-light {
  mix-blend-mode: hard-light !important;
}

.mbm-soft-light {
  mix-blend-mode: soft-light !important;
}

.mbm-difference {
  mix-blend-mode: difference !important;
}

.mbm-exclusion {
  mix-blend-mode: exclusion !important;
}

.mbm-hue {
  mix-blend-mode: hue !important;
}

.mbm-saturation {
  mix-blend-mode: saturation !important;
}

.mbm-color {
  mix-blend-mode: color !important;
}

.mbm-luminosity {
  mix-blend-mode: luminosity !important;
}

@media (min-width: 0px) and (max-width: 319px) {
  .w-xxs-10 {
    width: 10% !important;
  }

  .maxw-xxs-10 {
    max-width: 10% !important;
  }

  .minw-xxs-10 {
    min-width: 10% !important;
  }

  .h-xxs-10 {
    height: 10% !important;
  }

  .minh-xxs-10 {
    min-height: 10% !important;
  }

  .maxh-xxs-10 {
    max-height: 10% !important;
  }

  .w-xxs-15 {
    width: 15% !important;
  }

  .maxw-xxs-15 {
    max-width: 15% !important;
  }

  .minw-xxs-15 {
    min-width: 15% !important;
  }

  .h-xxs-15 {
    height: 15% !important;
  }

  .minh-xxs-15 {
    min-height: 15% !important;
  }

  .maxh-xxs-15 {
    max-height: 15% !important;
  }

  .w-xxs-20 {
    width: 20% !important;
  }

  .maxw-xxs-20 {
    max-width: 20% !important;
  }

  .minw-xxs-20 {
    min-width: 20% !important;
  }

  .h-xxs-20 {
    height: 20% !important;
  }

  .minh-xxs-20 {
    min-height: 20% !important;
  }

  .maxh-xxs-20 {
    max-height: 20% !important;
  }

  .w-xxs-25 {
    width: 25% !important;
  }

  .maxw-xxs-25 {
    max-width: 25% !important;
  }

  .minw-xxs-25 {
    min-width: 25% !important;
  }

  .h-xxs-25 {
    height: 25% !important;
  }

  .minh-xxs-25 {
    min-height: 25% !important;
  }

  .maxh-xxs-25 {
    max-height: 25% !important;
  }

  .w-xxs-33 {
    width: 33% !important;
  }

  .maxw-xxs-33 {
    max-width: 33% !important;
  }

  .minw-xxs-33 {
    min-width: 33% !important;
  }

  .h-xxs-33 {
    height: 33% !important;
  }

  .minh-xxs-33 {
    min-height: 33% !important;
  }

  .maxh-xxs-33 {
    max-height: 33% !important;
  }

  .w-xxs-50 {
    width: 50% !important;
  }

  .maxw-xxs-50 {
    max-width: 50% !important;
  }

  .minw-xxs-50 {
    min-width: 50% !important;
  }

  .h-xxs-50 {
    height: 50% !important;
  }

  .minh-xxs-50 {
    min-height: 50% !important;
  }

  .maxh-xxs-50 {
    max-height: 50% !important;
  }

  .w-xxs-66 {
    width: 66% !important;
  }

  .maxw-xxs-66 {
    max-width: 66% !important;
  }

  .minw-xxs-66 {
    min-width: 66% !important;
  }

  .h-xxs-66 {
    height: 66% !important;
  }

  .minh-xxs-66 {
    min-height: 66% !important;
  }

  .maxh-xxs-66 {
    max-height: 66% !important;
  }

  .w-xxs-75 {
    width: 75% !important;
  }

  .maxw-xxs-75 {
    max-width: 75% !important;
  }

  .minw-xxs-75 {
    min-width: 75% !important;
  }

  .h-xxs-75 {
    height: 75% !important;
  }

  .minh-xxs-75 {
    min-height: 75% !important;
  }

  .maxh-xxs-75 {
    max-height: 75% !important;
  }

  .w-xxs-80 {
    width: 80% !important;
  }

  .maxw-xxs-80 {
    max-width: 80% !important;
  }

  .minw-xxs-80 {
    min-width: 80% !important;
  }

  .h-xxs-80 {
    height: 80% !important;
  }

  .minh-xxs-80 {
    min-height: 80% !important;
  }

  .maxh-xxs-80 {
    max-height: 80% !important;
  }

  .w-xxs-90 {
    width: 90% !important;
  }

  .maxw-xxs-90 {
    max-width: 90% !important;
  }

  .minw-xxs-90 {
    min-width: 90% !important;
  }

  .h-xxs-90 {
    height: 90% !important;
  }

  .minh-xxs-90 {
    min-height: 90% !important;
  }

  .maxh-xxs-90 {
    max-height: 90% !important;
  }

  .w-xxs-100 {
    width: 100% !important;
  }

  .maxw-xxs-100 {
    max-width: 100% !important;
  }

  .minw-xxs-100 {
    min-width: 100% !important;
  }

  .h-xxs-100 {
    height: 100% !important;
  }

  .minh-xxs-100 {
    min-height: 100% !important;
  }

  .maxh-xxs-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 449px) {
  .w-xs-10 {
    width: 10% !important;
  }

  .maxw-xs-10 {
    max-width: 10% !important;
  }

  .minw-xs-10 {
    min-width: 10% !important;
  }

  .h-xs-10 {
    height: 10% !important;
  }

  .minh-xs-10 {
    min-height: 10% !important;
  }

  .maxh-xs-10 {
    max-height: 10% !important;
  }

  .w-xs-15 {
    width: 15% !important;
  }

  .maxw-xs-15 {
    max-width: 15% !important;
  }

  .minw-xs-15 {
    min-width: 15% !important;
  }

  .h-xs-15 {
    height: 15% !important;
  }

  .minh-xs-15 {
    min-height: 15% !important;
  }

  .maxh-xs-15 {
    max-height: 15% !important;
  }

  .w-xs-20 {
    width: 20% !important;
  }

  .maxw-xs-20 {
    max-width: 20% !important;
  }

  .minw-xs-20 {
    min-width: 20% !important;
  }

  .h-xs-20 {
    height: 20% !important;
  }

  .minh-xs-20 {
    min-height: 20% !important;
  }

  .maxh-xs-20 {
    max-height: 20% !important;
  }

  .w-xs-25 {
    width: 25% !important;
  }

  .maxw-xs-25 {
    max-width: 25% !important;
  }

  .minw-xs-25 {
    min-width: 25% !important;
  }

  .h-xs-25 {
    height: 25% !important;
  }

  .minh-xs-25 {
    min-height: 25% !important;
  }

  .maxh-xs-25 {
    max-height: 25% !important;
  }

  .w-xs-33 {
    width: 33% !important;
  }

  .maxw-xs-33 {
    max-width: 33% !important;
  }

  .minw-xs-33 {
    min-width: 33% !important;
  }

  .h-xs-33 {
    height: 33% !important;
  }

  .minh-xs-33 {
    min-height: 33% !important;
  }

  .maxh-xs-33 {
    max-height: 33% !important;
  }

  .w-xs-50 {
    width: 50% !important;
  }

  .maxw-xs-50 {
    max-width: 50% !important;
  }

  .minw-xs-50 {
    min-width: 50% !important;
  }

  .h-xs-50 {
    height: 50% !important;
  }

  .minh-xs-50 {
    min-height: 50% !important;
  }

  .maxh-xs-50 {
    max-height: 50% !important;
  }

  .w-xs-66 {
    width: 66% !important;
  }

  .maxw-xs-66 {
    max-width: 66% !important;
  }

  .minw-xs-66 {
    min-width: 66% !important;
  }

  .h-xs-66 {
    height: 66% !important;
  }

  .minh-xs-66 {
    min-height: 66% !important;
  }

  .maxh-xs-66 {
    max-height: 66% !important;
  }

  .w-xs-75 {
    width: 75% !important;
  }

  .maxw-xs-75 {
    max-width: 75% !important;
  }

  .minw-xs-75 {
    min-width: 75% !important;
  }

  .h-xs-75 {
    height: 75% !important;
  }

  .minh-xs-75 {
    min-height: 75% !important;
  }

  .maxh-xs-75 {
    max-height: 75% !important;
  }

  .w-xs-80 {
    width: 80% !important;
  }

  .maxw-xs-80 {
    max-width: 80% !important;
  }

  .minw-xs-80 {
    min-width: 80% !important;
  }

  .h-xs-80 {
    height: 80% !important;
  }

  .minh-xs-80 {
    min-height: 80% !important;
  }

  .maxh-xs-80 {
    max-height: 80% !important;
  }

  .w-xs-90 {
    width: 90% !important;
  }

  .maxw-xs-90 {
    max-width: 90% !important;
  }

  .minw-xs-90 {
    min-width: 90% !important;
  }

  .h-xs-90 {
    height: 90% !important;
  }

  .minh-xs-90 {
    min-height: 90% !important;
  }

  .maxh-xs-90 {
    max-height: 90% !important;
  }

  .w-xs-100 {
    width: 100% !important;
  }

  .maxw-xs-100 {
    max-width: 100% !important;
  }

  .minw-xs-100 {
    min-width: 100% !important;
  }

  .h-xs-100 {
    height: 100% !important;
  }

  .minh-xs-100 {
    min-height: 100% !important;
  }

  .maxh-xs-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 450px) and (max-width: 599px) {
  .w-sm-10 {
    width: 10% !important;
  }

  .maxw-sm-10 {
    max-width: 10% !important;
  }

  .minw-sm-10 {
    min-width: 10% !important;
  }

  .h-sm-10 {
    height: 10% !important;
  }

  .minh-sm-10 {
    min-height: 10% !important;
  }

  .maxh-sm-10 {
    max-height: 10% !important;
  }

  .w-sm-15 {
    width: 15% !important;
  }

  .maxw-sm-15 {
    max-width: 15% !important;
  }

  .minw-sm-15 {
    min-width: 15% !important;
  }

  .h-sm-15 {
    height: 15% !important;
  }

  .minh-sm-15 {
    min-height: 15% !important;
  }

  .maxh-sm-15 {
    max-height: 15% !important;
  }

  .w-sm-20 {
    width: 20% !important;
  }

  .maxw-sm-20 {
    max-width: 20% !important;
  }

  .minw-sm-20 {
    min-width: 20% !important;
  }

  .h-sm-20 {
    height: 20% !important;
  }

  .minh-sm-20 {
    min-height: 20% !important;
  }

  .maxh-sm-20 {
    max-height: 20% !important;
  }

  .w-sm-25 {
    width: 25% !important;
  }

  .maxw-sm-25 {
    max-width: 25% !important;
  }

  .minw-sm-25 {
    min-width: 25% !important;
  }

  .h-sm-25 {
    height: 25% !important;
  }

  .minh-sm-25 {
    min-height: 25% !important;
  }

  .maxh-sm-25 {
    max-height: 25% !important;
  }

  .w-sm-33 {
    width: 33% !important;
  }

  .maxw-sm-33 {
    max-width: 33% !important;
  }

  .minw-sm-33 {
    min-width: 33% !important;
  }

  .h-sm-33 {
    height: 33% !important;
  }

  .minh-sm-33 {
    min-height: 33% !important;
  }

  .maxh-sm-33 {
    max-height: 33% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .maxw-sm-50 {
    max-width: 50% !important;
  }

  .minw-sm-50 {
    min-width: 50% !important;
  }

  .h-sm-50 {
    height: 50% !important;
  }

  .minh-sm-50 {
    min-height: 50% !important;
  }

  .maxh-sm-50 {
    max-height: 50% !important;
  }

  .w-sm-66 {
    width: 66% !important;
  }

  .maxw-sm-66 {
    max-width: 66% !important;
  }

  .minw-sm-66 {
    min-width: 66% !important;
  }

  .h-sm-66 {
    height: 66% !important;
  }

  .minh-sm-66 {
    min-height: 66% !important;
  }

  .maxh-sm-66 {
    max-height: 66% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .maxw-sm-75 {
    max-width: 75% !important;
  }

  .minw-sm-75 {
    min-width: 75% !important;
  }

  .h-sm-75 {
    height: 75% !important;
  }

  .minh-sm-75 {
    min-height: 75% !important;
  }

  .maxh-sm-75 {
    max-height: 75% !important;
  }

  .w-sm-80 {
    width: 80% !important;
  }

  .maxw-sm-80 {
    max-width: 80% !important;
  }

  .minw-sm-80 {
    min-width: 80% !important;
  }

  .h-sm-80 {
    height: 80% !important;
  }

  .minh-sm-80 {
    min-height: 80% !important;
  }

  .maxh-sm-80 {
    max-height: 80% !important;
  }

  .w-sm-90 {
    width: 90% !important;
  }

  .maxw-sm-90 {
    max-width: 90% !important;
  }

  .minw-sm-90 {
    min-width: 90% !important;
  }

  .h-sm-90 {
    height: 90% !important;
  }

  .minh-sm-90 {
    min-height: 90% !important;
  }

  .maxh-sm-90 {
    max-height: 90% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }

  .maxw-sm-100 {
    max-width: 100% !important;
  }

  .minw-sm-100 {
    min-width: 100% !important;
  }

  .h-sm-100 {
    height: 100% !important;
  }

  .minh-sm-100 {
    min-height: 100% !important;
  }

  .maxh-sm-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .w-md-10 {
    width: 10% !important;
  }

  .maxw-md-10 {
    max-width: 10% !important;
  }

  .minw-md-10 {
    min-width: 10% !important;
  }

  .h-md-10 {
    height: 10% !important;
  }

  .minh-md-10 {
    min-height: 10% !important;
  }

  .maxh-md-10 {
    max-height: 10% !important;
  }

  .w-md-15 {
    width: 15% !important;
  }

  .maxw-md-15 {
    max-width: 15% !important;
  }

  .minw-md-15 {
    min-width: 15% !important;
  }

  .h-md-15 {
    height: 15% !important;
  }

  .minh-md-15 {
    min-height: 15% !important;
  }

  .maxh-md-15 {
    max-height: 15% !important;
  }

  .w-md-20 {
    width: 20% !important;
  }

  .maxw-md-20 {
    max-width: 20% !important;
  }

  .minw-md-20 {
    min-width: 20% !important;
  }

  .h-md-20 {
    height: 20% !important;
  }

  .minh-md-20 {
    min-height: 20% !important;
  }

  .maxh-md-20 {
    max-height: 20% !important;
  }

  .w-md-25 {
    width: 25% !important;
  }

  .maxw-md-25 {
    max-width: 25% !important;
  }

  .minw-md-25 {
    min-width: 25% !important;
  }

  .h-md-25 {
    height: 25% !important;
  }

  .minh-md-25 {
    min-height: 25% !important;
  }

  .maxh-md-25 {
    max-height: 25% !important;
  }

  .w-md-33 {
    width: 33% !important;
  }

  .maxw-md-33 {
    max-width: 33% !important;
  }

  .minw-md-33 {
    min-width: 33% !important;
  }

  .h-md-33 {
    height: 33% !important;
  }

  .minh-md-33 {
    min-height: 33% !important;
  }

  .maxh-md-33 {
    max-height: 33% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .maxw-md-50 {
    max-width: 50% !important;
  }

  .minw-md-50 {
    min-width: 50% !important;
  }

  .h-md-50 {
    height: 50% !important;
  }

  .minh-md-50 {
    min-height: 50% !important;
  }

  .maxh-md-50 {
    max-height: 50% !important;
  }

  .w-md-66 {
    width: 66% !important;
  }

  .maxw-md-66 {
    max-width: 66% !important;
  }

  .minw-md-66 {
    min-width: 66% !important;
  }

  .h-md-66 {
    height: 66% !important;
  }

  .minh-md-66 {
    min-height: 66% !important;
  }

  .maxh-md-66 {
    max-height: 66% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .maxw-md-75 {
    max-width: 75% !important;
  }

  .minw-md-75 {
    min-width: 75% !important;
  }

  .h-md-75 {
    height: 75% !important;
  }

  .minh-md-75 {
    min-height: 75% !important;
  }

  .maxh-md-75 {
    max-height: 75% !important;
  }

  .w-md-80 {
    width: 80% !important;
  }

  .maxw-md-80 {
    max-width: 80% !important;
  }

  .minw-md-80 {
    min-width: 80% !important;
  }

  .h-md-80 {
    height: 80% !important;
  }

  .minh-md-80 {
    min-height: 80% !important;
  }

  .maxh-md-80 {
    max-height: 80% !important;
  }

  .w-md-90 {
    width: 90% !important;
  }

  .maxw-md-90 {
    max-width: 90% !important;
  }

  .minw-md-90 {
    min-width: 90% !important;
  }

  .h-md-90 {
    height: 90% !important;
  }

  .minh-md-90 {
    min-height: 90% !important;
  }

  .maxh-md-90 {
    max-height: 90% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .maxw-md-100 {
    max-width: 100% !important;
  }

  .minw-md-100 {
    min-width: 100% !important;
  }

  .h-md-100 {
    height: 100% !important;
  }

  .minh-md-100 {
    min-height: 100% !important;
  }

  .maxh-md-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  .w-lg-10 {
    width: 10% !important;
  }

  .maxw-lg-10 {
    max-width: 10% !important;
  }

  .minw-lg-10 {
    min-width: 10% !important;
  }

  .h-lg-10 {
    height: 10% !important;
  }

  .minh-lg-10 {
    min-height: 10% !important;
  }

  .maxh-lg-10 {
    max-height: 10% !important;
  }

  .w-lg-15 {
    width: 15% !important;
  }

  .maxw-lg-15 {
    max-width: 15% !important;
  }

  .minw-lg-15 {
    min-width: 15% !important;
  }

  .h-lg-15 {
    height: 15% !important;
  }

  .minh-lg-15 {
    min-height: 15% !important;
  }

  .maxh-lg-15 {
    max-height: 15% !important;
  }

  .w-lg-20 {
    width: 20% !important;
  }

  .maxw-lg-20 {
    max-width: 20% !important;
  }

  .minw-lg-20 {
    min-width: 20% !important;
  }

  .h-lg-20 {
    height: 20% !important;
  }

  .minh-lg-20 {
    min-height: 20% !important;
  }

  .maxh-lg-20 {
    max-height: 20% !important;
  }

  .w-lg-25 {
    width: 25% !important;
  }

  .maxw-lg-25 {
    max-width: 25% !important;
  }

  .minw-lg-25 {
    min-width: 25% !important;
  }

  .h-lg-25 {
    height: 25% !important;
  }

  .minh-lg-25 {
    min-height: 25% !important;
  }

  .maxh-lg-25 {
    max-height: 25% !important;
  }

  .w-lg-33 {
    width: 33% !important;
  }

  .maxw-lg-33 {
    max-width: 33% !important;
  }

  .minw-lg-33 {
    min-width: 33% !important;
  }

  .h-lg-33 {
    height: 33% !important;
  }

  .minh-lg-33 {
    min-height: 33% !important;
  }

  .maxh-lg-33 {
    max-height: 33% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .maxw-lg-50 {
    max-width: 50% !important;
  }

  .minw-lg-50 {
    min-width: 50% !important;
  }

  .h-lg-50 {
    height: 50% !important;
  }

  .minh-lg-50 {
    min-height: 50% !important;
  }

  .maxh-lg-50 {
    max-height: 50% !important;
  }

  .w-lg-66 {
    width: 66% !important;
  }

  .maxw-lg-66 {
    max-width: 66% !important;
  }

  .minw-lg-66 {
    min-width: 66% !important;
  }

  .h-lg-66 {
    height: 66% !important;
  }

  .minh-lg-66 {
    min-height: 66% !important;
  }

  .maxh-lg-66 {
    max-height: 66% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .maxw-lg-75 {
    max-width: 75% !important;
  }

  .minw-lg-75 {
    min-width: 75% !important;
  }

  .h-lg-75 {
    height: 75% !important;
  }

  .minh-lg-75 {
    min-height: 75% !important;
  }

  .maxh-lg-75 {
    max-height: 75% !important;
  }

  .w-lg-80 {
    width: 80% !important;
  }

  .maxw-lg-80 {
    max-width: 80% !important;
  }

  .minw-lg-80 {
    min-width: 80% !important;
  }

  .h-lg-80 {
    height: 80% !important;
  }

  .minh-lg-80 {
    min-height: 80% !important;
  }

  .maxh-lg-80 {
    max-height: 80% !important;
  }

  .w-lg-90 {
    width: 90% !important;
  }

  .maxw-lg-90 {
    max-width: 90% !important;
  }

  .minw-lg-90 {
    min-width: 90% !important;
  }

  .h-lg-90 {
    height: 90% !important;
  }

  .minh-lg-90 {
    min-height: 90% !important;
  }

  .maxh-lg-90 {
    max-height: 90% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }

  .maxw-lg-100 {
    max-width: 100% !important;
  }

  .minw-lg-100 {
    min-width: 100% !important;
  }

  .h-lg-100 {
    height: 100% !important;
  }

  .minh-lg-100 {
    min-height: 100% !important;
  }

  .maxh-lg-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .w-xl-10 {
    width: 10% !important;
  }

  .maxw-xl-10 {
    max-width: 10% !important;
  }

  .minw-xl-10 {
    min-width: 10% !important;
  }

  .h-xl-10 {
    height: 10% !important;
  }

  .minh-xl-10 {
    min-height: 10% !important;
  }

  .maxh-xl-10 {
    max-height: 10% !important;
  }

  .w-xl-15 {
    width: 15% !important;
  }

  .maxw-xl-15 {
    max-width: 15% !important;
  }

  .minw-xl-15 {
    min-width: 15% !important;
  }

  .h-xl-15 {
    height: 15% !important;
  }

  .minh-xl-15 {
    min-height: 15% !important;
  }

  .maxh-xl-15 {
    max-height: 15% !important;
  }

  .w-xl-20 {
    width: 20% !important;
  }

  .maxw-xl-20 {
    max-width: 20% !important;
  }

  .minw-xl-20 {
    min-width: 20% !important;
  }

  .h-xl-20 {
    height: 20% !important;
  }

  .minh-xl-20 {
    min-height: 20% !important;
  }

  .maxh-xl-20 {
    max-height: 20% !important;
  }

  .w-xl-25 {
    width: 25% !important;
  }

  .maxw-xl-25 {
    max-width: 25% !important;
  }

  .minw-xl-25 {
    min-width: 25% !important;
  }

  .h-xl-25 {
    height: 25% !important;
  }

  .minh-xl-25 {
    min-height: 25% !important;
  }

  .maxh-xl-25 {
    max-height: 25% !important;
  }

  .w-xl-33 {
    width: 33% !important;
  }

  .maxw-xl-33 {
    max-width: 33% !important;
  }

  .minw-xl-33 {
    min-width: 33% !important;
  }

  .h-xl-33 {
    height: 33% !important;
  }

  .minh-xl-33 {
    min-height: 33% !important;
  }

  .maxh-xl-33 {
    max-height: 33% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .maxw-xl-50 {
    max-width: 50% !important;
  }

  .minw-xl-50 {
    min-width: 50% !important;
  }

  .h-xl-50 {
    height: 50% !important;
  }

  .minh-xl-50 {
    min-height: 50% !important;
  }

  .maxh-xl-50 {
    max-height: 50% !important;
  }

  .w-xl-66 {
    width: 66% !important;
  }

  .maxw-xl-66 {
    max-width: 66% !important;
  }

  .minw-xl-66 {
    min-width: 66% !important;
  }

  .h-xl-66 {
    height: 66% !important;
  }

  .minh-xl-66 {
    min-height: 66% !important;
  }

  .maxh-xl-66 {
    max-height: 66% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .maxw-xl-75 {
    max-width: 75% !important;
  }

  .minw-xl-75 {
    min-width: 75% !important;
  }

  .h-xl-75 {
    height: 75% !important;
  }

  .minh-xl-75 {
    min-height: 75% !important;
  }

  .maxh-xl-75 {
    max-height: 75% !important;
  }

  .w-xl-80 {
    width: 80% !important;
  }

  .maxw-xl-80 {
    max-width: 80% !important;
  }

  .minw-xl-80 {
    min-width: 80% !important;
  }

  .h-xl-80 {
    height: 80% !important;
  }

  .minh-xl-80 {
    min-height: 80% !important;
  }

  .maxh-xl-80 {
    max-height: 80% !important;
  }

  .w-xl-90 {
    width: 90% !important;
  }

  .maxw-xl-90 {
    max-width: 90% !important;
  }

  .minw-xl-90 {
    min-width: 90% !important;
  }

  .h-xl-90 {
    height: 90% !important;
  }

  .minh-xl-90 {
    min-height: 90% !important;
  }

  .maxh-xl-90 {
    max-height: 90% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }

  .maxw-xl-100 {
    max-width: 100% !important;
  }

  .minw-xl-100 {
    min-width: 100% !important;
  }

  .h-xl-100 {
    height: 100% !important;
  }

  .minh-xl-100 {
    min-height: 100% !important;
  }

  .maxh-xl-100 {
    max-height: 100% !important;
  }
}
@media (min-width: 1600px) and (max-width: 5000px) {
  .w-xxl-10 {
    width: 10% !important;
  }

  .maxw-xxl-10 {
    max-width: 10% !important;
  }

  .minw-xxl-10 {
    min-width: 10% !important;
  }

  .h-xxl-10 {
    height: 10% !important;
  }

  .minh-xxl-10 {
    min-height: 10% !important;
  }

  .maxh-xxl-10 {
    max-height: 10% !important;
  }

  .w-xxl-15 {
    width: 15% !important;
  }

  .maxw-xxl-15 {
    max-width: 15% !important;
  }

  .minw-xxl-15 {
    min-width: 15% !important;
  }

  .h-xxl-15 {
    height: 15% !important;
  }

  .minh-xxl-15 {
    min-height: 15% !important;
  }

  .maxh-xxl-15 {
    max-height: 15% !important;
  }

  .w-xxl-20 {
    width: 20% !important;
  }

  .maxw-xxl-20 {
    max-width: 20% !important;
  }

  .minw-xxl-20 {
    min-width: 20% !important;
  }

  .h-xxl-20 {
    height: 20% !important;
  }

  .minh-xxl-20 {
    min-height: 20% !important;
  }

  .maxh-xxl-20 {
    max-height: 20% !important;
  }

  .w-xxl-25 {
    width: 25% !important;
  }

  .maxw-xxl-25 {
    max-width: 25% !important;
  }

  .minw-xxl-25 {
    min-width: 25% !important;
  }

  .h-xxl-25 {
    height: 25% !important;
  }

  .minh-xxl-25 {
    min-height: 25% !important;
  }

  .maxh-xxl-25 {
    max-height: 25% !important;
  }

  .w-xxl-33 {
    width: 33% !important;
  }

  .maxw-xxl-33 {
    max-width: 33% !important;
  }

  .minw-xxl-33 {
    min-width: 33% !important;
  }

  .h-xxl-33 {
    height: 33% !important;
  }

  .minh-xxl-33 {
    min-height: 33% !important;
  }

  .maxh-xxl-33 {
    max-height: 33% !important;
  }

  .w-xxl-50 {
    width: 50% !important;
  }

  .maxw-xxl-50 {
    max-width: 50% !important;
  }

  .minw-xxl-50 {
    min-width: 50% !important;
  }

  .h-xxl-50 {
    height: 50% !important;
  }

  .minh-xxl-50 {
    min-height: 50% !important;
  }

  .maxh-xxl-50 {
    max-height: 50% !important;
  }

  .w-xxl-66 {
    width: 66% !important;
  }

  .maxw-xxl-66 {
    max-width: 66% !important;
  }

  .minw-xxl-66 {
    min-width: 66% !important;
  }

  .h-xxl-66 {
    height: 66% !important;
  }

  .minh-xxl-66 {
    min-height: 66% !important;
  }

  .maxh-xxl-66 {
    max-height: 66% !important;
  }

  .w-xxl-75 {
    width: 75% !important;
  }

  .maxw-xxl-75 {
    max-width: 75% !important;
  }

  .minw-xxl-75 {
    min-width: 75% !important;
  }

  .h-xxl-75 {
    height: 75% !important;
  }

  .minh-xxl-75 {
    min-height: 75% !important;
  }

  .maxh-xxl-75 {
    max-height: 75% !important;
  }

  .w-xxl-80 {
    width: 80% !important;
  }

  .maxw-xxl-80 {
    max-width: 80% !important;
  }

  .minw-xxl-80 {
    min-width: 80% !important;
  }

  .h-xxl-80 {
    height: 80% !important;
  }

  .minh-xxl-80 {
    min-height: 80% !important;
  }

  .maxh-xxl-80 {
    max-height: 80% !important;
  }

  .w-xxl-90 {
    width: 90% !important;
  }

  .maxw-xxl-90 {
    max-width: 90% !important;
  }

  .minw-xxl-90 {
    min-width: 90% !important;
  }

  .h-xxl-90 {
    height: 90% !important;
  }

  .minh-xxl-90 {
    min-height: 90% !important;
  }

  .maxh-xxl-90 {
    max-height: 90% !important;
  }

  .w-xxl-100 {
    width: 100% !important;
  }

  .maxw-xxl-100 {
    max-width: 100% !important;
  }

  .minw-xxl-100 {
    min-width: 100% !important;
  }

  .h-xxl-100 {
    height: 100% !important;
  }

  .minh-xxl-100 {
    min-height: 100% !important;
  }

  .maxh-xxl-100 {
    max-height: 100% !important;
  }
}
@media (max-width: 319px) {
  .force-portrait-150-xxs div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-xxs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (max-width: 319px) {
  .force-portrait-140-xxs div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-xxs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (max-width: 319px) {
  .force-portrait-130-xxs div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-xxs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (max-width: 319px) {
  .force-portrait-120-xxs div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-xxs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
  .force-portrait-150-xs div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-xs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
  .force-portrait-140-xs div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-xs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
  .force-portrait-130-xs div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-xs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 449px) {
  .force-portrait-120-xs div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-xs div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  .force-portrait-150-sm div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-sm div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  .force-portrait-140-sm div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-sm div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  .force-portrait-130-sm div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-sm div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 599px) {
  .force-portrait-120-sm div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-sm div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .force-portrait-150-md div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-md div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .force-portrait-140-md div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-md div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .force-portrait-130-md div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-md div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .force-portrait-120-md div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-md div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .force-portrait-150-lg div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-lg div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .force-portrait-140-lg div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-lg div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .force-portrait-130-lg div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-lg div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .force-portrait-120-lg div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-lg div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .force-portrait-150-xl div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-xl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .force-portrait-140-xl div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-xl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .force-portrait-130-xl div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-xl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .force-portrait-120-xl div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-xl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (min-width: 1600px) {
  .force-portrait-150-xxl div.field-item {
    overflow: hidden;
  }
  .force-portrait-150-xxl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (min-width: 1600px) {
  .force-portrait-140-xxl div.field-item {
    overflow: hidden;
  }
  .force-portrait-140-xxl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (min-width: 1600px) {
  .force-portrait-130-xxl div.field-item {
    overflow: hidden;
  }
  .force-portrait-130-xxl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

@media (min-width: 1600px) {
  .force-portrait-120-xxl div.field-item {
    overflow: hidden;
  }
  .force-portrait-120-xxl div.field-item img {
    width: 150%;
    margin-left: -25%;
  }
}

/*
 * DMF styles in scss pull in variables and mixins from OCU Theme
 */
#dmf-fixed-button-container {
  height: 100px;
  position: fixed;
  display: block;
  pointer-events: none;
}

#main {
  min-height: 80vh;
}

.dmf-results {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 450px) and (max-width: 599px) {
  .dmf-results {
    padding: 5px;
  }
}
@media (max-width: 449px) {
  .dmf-results {
    padding: 0px;
  }
}

.dmf-format-bg-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 899px) {
  #dmf-top .container {
    padding: 0px 15px;
  }
}
.dmf-hide {
  display: none;
}

.dmf-visiblity {
  transition: opacity 1s ease-in-out;
}

.dmf-invisible {
  opacity: 0;
}

.dmf-program-hide {
  height: 0px !important;
}

@media (max-width: 599px) {
  .dmf_type-tag br {
    display: none;
  }
}

.dmf-program-list-item {
  pointer-events: auto;
  cursor: pointer;
  overflow: hidden;
}

.dmf-prog-list-top-row {
  display: flex;
  align-items: stretch;
  margin: 10px 0px;
}

.dmf-icon-group {
  display: flex;
}
.dmf-icon-group > div > div {
  /*  border: 1px solid green; */
  height: 100%;
  width: 100%;
  display: flex;
}
@media (max-width: 599px) {
  .dmf-icon-group {
    display: flex;
    width: 40px;
    flex-direction: column;
  }
}

.dmf_program_type-tag, .dmf_program_format-icon, .dmf_degree_type-tag, .dmf-type, .dmf-department, .dmf-title {
  display: flex;
}

.dmf-type, .dmf-department, .dmf-title {
  align-items: center;
}

.dmf-type, .dmf-department {
  flex: 1 0 20px;
  max-width: 200px;
  border-left: 8px solid white;
  padding: 0px 6px;
}

.dmf-type span, .dmf-department span, .dmf-title span {
  display: block;
}

a.dmf-title {
  flex: 2 0 20%;
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 5px;
  line-height: 1.1em;
}

.dmf-format-icon-group {
  display: flex;
}
@media only screen and (min-width: 450px) and (max-width: 599px) {
  .dmf-format-icon-group {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 449px) {
  .dmf-format-icon-group {
    margin-right: 15px;
  }
}

.dmf_program_format-icon {
  justify-content: center;
}
.dmf_program_format-icon span {
  justify-content: center;
  text-align: center;
  padding: 0px;
  display: block;
  height: 1.75em;
  width: auto;
}
@media only screen and (min-width: 450px) and (max-width: 599px) {
  .dmf_program_format-icon span {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 449px) {
  .dmf_program_format-icon span {
    width: 20px;
    height: 20px;
  }
}

.dmf_degree_type-tag, .dmf_program_type-tag {
  font-weight: 700;
  color: white;
}

.dmf_program_type-tag {
  font-size: 0.7em;
}

.dmf_degree_type-tag {
  font-size: 1.2em;
}

.dmf_program_type-tag span, .dmf_program_format-icon span, .dmf_degree_type-tag span {
  text-align: center;
  flex-grow: 1;
  line-height: 1em;
  align-self: center;
  padding: 3px;
  min-width: 45px;
}
@media (max-width: 599px) {
  .dmf_program_type-tag span, .dmf_program_format-icon span, .dmf_degree_type-tag span {
    min-width: auto;
  }
}

.dmf_degree_type-tag {
  font-size: 1.2em;
  font-weight: 700;
}
@media (max-width: 599px) {
  .dmf_degree_type-tag span {
    padding: 3px 0px 0px 0px;
    font-weight: 700;
    width: 40px;
    height: 32px;
    margin: 0px;
    display: block;
    position: relative;
    top: 0px;
    bottom: 0px;
  }
}
@media (max-width: 599px) {
  .dmf_degree_type-tag div {
    min-width: min-content;
    align-items: center;
    display: block;
    bottom: 0px;
    color: white;
  }
}
.dmf_degree_type-tag.masters {
  background-color: black;
  color: white;
}
.dmf_degree_type-tag.bachelor-of-arts, .dmf_degree_type-tag.bachelor-of-science {
  background-color: #064386;
  color: white;
}
.dmf_degree_type-tag.associate-of-arts, .dmf_degree_type-tag.associate-of-science {
  background-color: #0062ae;
  color: white;
}

.dmf_program_type-tag {
  font-size: 0.7em;
  color: white;
}
.dmf_program_type-tag.major {
  background-color: #006fb9;
}
.dmf_program_type-tag.dualmajor {
  background-color: red;
}
.dmf_program_type-tag.certificate {
  color: black;
}
@media (max-width: 599px) {
  .dmf_program_type-tag.certificate {
    margin-top: -5px;
  }
}
.dmf_program_type-tag.minor {
  background-color: #6c7677;
}

@media (max-width: 599px) {
  .cert a.dmf-title {
    margin-top: 10px;
    margin-left: -30px;
    margin-bottom: 5px;
  }
}

.dmf-dynamic-display-info {
  background-color: #EEE;
  padding: 1vw 1.5vw;
  width: 100%;
  margin: 0vw 0vw 1vw 0vw;
}

.dmf-dynamic-display-info p {
  margin-bottom: 0.2rem;
}

.dmf-dynamic-display-info.feature {
  background-color: transparent;
  color: white;
  padding: 0px;
  margin: 0px;
}

.dmf-page-filters {
  margin-top: 10px;
}
.dmf-page-filters form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.dmf-wrapper {
  flex-grow: 1;
  flex-basis: 47%;
  margin-right: 2%;
  font-size: 1.2em;
}
@media (max-width: 319px) {
  .dmf-wrapper {
    flex-basis: 100%;
    margin-right: 0%;
    font-size: 1.2em;
  }
}

.dmf-page-filters label {
  margin: 0px;
  padding: 0px 9px;
  margin: 3px;
  height: 35px;
  margin-bottom: -10px;
  margin-left: inherit;
  background-color: grey;
  position: relative;
  z-index: 0;
  color: white;
}
.dmf-page-filters .form-control {
  border-radius: 0px;
  z-index: 1;
  position: relative;
}

.dmf-prog-list-bottom-row {
  margin: 0px 0px 0px 130px;
}

.dmf-child-top-spacer {
  display: block;
  font-style: italic;
  color: #4e5a5c;
}

.dmf-child {
  border-left: 5px solid #CCCCCC;
  padding-left: 5px;
}

.dmf-parent.stripe {
  background-color: #EEEEEE;
  transition: background-color 0.5s linear;
}

@media (max-width: 599px) {
  .dmf-prog-list-bottom-row {
    margin: 0px 0px 0px 75px;
  }
}

.dmf-parent {
  margin-right: 25px;
  border-right: 1px solid #CCC;
}

@media (max-width: 599px) {
  .dmf-parent {
    margin-right: 0px;
    border-right: 0px;
  }
}
dmf-fixed-button-container {
  height: 100px;
  position: fixed;
  display: block;
  pointer-events: none;
}

#dmf-fixed-button {
  width: 100px;
  left: 68px;
  top: 50px;
  background-color: #006fb9;
  color: white;
  padding: 5px 0px;
  text-align: center;
  font-weight: 700;
  transform: rotate(90deg) translate(-17px, 57px);
  float: right;
  box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: relative;
  pointer-events: auto;
}
@media (max-width: 599px) {
  #dmf-fixed-button {
    left: 85px;
  }
}
@media (max-width: 449px) {
  #dmf-fixed-button {
    padding: 0px 0px;
    width: 90px;
    top: 45px;
    left: 95px;
  }
}
#dmf-fixed-button #dmf-fixed-triangle {
  width: 100px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 8px solid #006fb9;
  position: absolute;
  bottom: -8px;
  display: block;
}
@media (max-width: 449px) {
  #dmf-fixed-button #dmf-fixed-triangle {
    width: 90px;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
  }
}

.spacer-25 {
  display: block;
  opacity: 0;
  pointer-events: none;
  height: 25px;
}

.spacer-50 {
  display: block;
  opacity: 0;
  pointer-events: none;
  height: 50px;
}

.dmf-results-key {
  flex-shrink: 1;
  display: flex;
  justify-content: flex-end;
  margin: 0px 25px 10px 0px;
}
@media only screen and (min-width: 450px) and (max-width: 599px) {
  .dmf-results-key {
    margin: 0px 30px 0px 0px;
  }
}
@media (max-width: 449px) {
  .dmf-results-key {
    margin: 0px 17px 0px 0px;
  }
}
.dmf-results-key div {
  display: block;
  transform: rotate(280deg);
  width: 45px;
}
@media only screen and (min-width: 450px) and (max-width: 599px) {
  .dmf-results-key div {
    width: 30px;
  }
}
@media (max-width: 449px) {
  .dmf-results-key div {
    width: 20px;
  }
}

/*
 *  DMF block is basically forced to look like smaller screen sizes
 */
.region-dmf-acprog-degree-list .block-dmf #dmf-results {
  padding: 0px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf_type-tag br {
  display: none;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-icon-group {
  display: flex;
  width: 40px;
  flex-direction: column;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-format-icon-group {
  margin-right: 15px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf_program_format-icon span {
  width: 20px;
  height: 20px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf_program_type-tag span, .region-dmf-acprog-degree-list .block-dmf .dmf_program_format-icon span, .region-dmf-acprog-degree-list .block-dmf .dmf_degree_type-tag span {
  min-width: auto;
}
.region-dmf-acprog-degree-list .block-dmf .dmf_degree_type-tag span {
  padding: 3px 0px 0px 0px;
  font-weight: 700;
  width: 40px;
  height: 32px;
  margin: 0px;
  display: block;
  position: relative;
  top: 0px;
  bottom: 0px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf_program_type-tag .certificate {
  margin-top: -5px;
}
.region-dmf-acprog-degree-list .block-dmf .cert a.dmf-title {
  margin-top: 10px;
  margin-left: -30px;
  margin-bottom: 5px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-wrapper {
  flex-basis: 100%;
  margin-right: 0%;
  font-size: 1.2em;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-prog-list-bottom-row {
  margin: 0px 0px 0px 20px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-parent {
  margin-right: 0px;
  border-right: 0px;
}
.region-dmf-acprog-degree-list .block-dmf #dmf-fixed-button {
  padding: 0px 0px;
  width: 90px;
  top: 45px;
  left: 95px;
}
.region-dmf-acprog-degree-list .block-dmf #dmf-fixed-triangle {
  width: 90px;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-results-key {
  margin: 0px 17px 0px 0px;
}
.region-dmf-acprog-degree-list .block-dmf .dmf-results-key div {
  width: 20px;
}

@media (min-width: 1200px) {
  div#contentcontainer div.col-12.col-xl-7.col-xxl-8 {
    border-right: 1px solid #c8c9c7;
    padding-right: 3rem;
  }
}
@media (min-width: 1200px) {
  div#contentcontainer div.col-12.col-xl-5.col-xxl-4 {
    padding-left: 3rem;
  }
}

#dmf-acprog-topbar div.col-12 {
  border: none !important;
}

.dynamic-dmf-sidebar a.btn {
  white-space: normal;
  line-height: 1.25rem !important;
}

#dmf-content-top h1 {
  color: white;
}
#dmf-content-top p {
  color: white;
  margin-bottom: 0px;
}

.dmf-content-side {
  margin-bottom: 2em;
}
.dmf-content-side h3 {
  font-family: myriad-pro-condensed, "Myriad Pro Condensed", sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}
@media only screen and (min-width: 900px) and (max-width: 1599px) {
  .dmf-content-side h3 {
    font-size: 1.25rem;
  }
}

.dmf-content-bg-block {
  background-color: #EEE;
  padding: 1vw 1.5vw;
  width: 100%;
  margin: 0vw 0vw 1vw 0vw;
}

.dmf-content-grey {
  background-color: #EEE;
  padding: 1vw 1.5vw;
  width: 100%;
  margin: 0vw 0vw 1vw 0vw;
}

.dmf-content-side a.btn {
  white-space: pre-wrap;
}
@media only screen and (min-width: 900px) and (max-width: 1599px) {
  .dmf-content-side ul {
    padding-inline-start: 20px;
  }
}
@media (max-width: 449px) {
  .dmf-content-side ul {
    padding-inline-start: 20px;
  }
}

/*# sourceMappingURL=dmf_catalog.style.css.map */
