{% load catalog_tags %}
<div id="bussin_deg_ma_leader_XXonXX" style="order: 70; height: auto;" class="dmf-program-list-item dmf-parent collapse show" data-toggle="DMF-EZ-collapse" data-codes="A_24UP|DT_MAST|FS_BUSI|FS_HEAL|FS_HU-RS|FS_LEMA|F_ONLI|PT_CONC|PT_DEGR">
    <div class="dmf-prog-list-top-row">
        <div class="dmf-icon-group">
        <div class="dmf_degree_type-tag masters">
            <div class="dmf_degree_type-tag"><span data-code="dmf_degree_type-DT_MAST">M</span></div>
        </div>
        </div><a class="dmf-title" aria-label="MA in Leadership - Masters - Online - Concentration - Degree" href="/school-of-business/ma-in-leadership" tabindex="0"><span>MA in Leadership</span></a>
        <div class="dmf-format-icon-group">
        <div class="dmf_program_format-icon online"><span data-code="dmf_format-F_ONLI" class="dmf_online_icon dmf-format-bg-icon"></span></div>
        <div class="dmf_program_format-icon campus"><span></span></div>
        <div class="dmf_program_format-icon virtual"><span></span></div>
        </div>
    </div>
    {% dmf_program_child %}
</div>
  