{% load catalog_tags %}
<div id="{{ parent.unique_program_code }}" style="order: 70; height: auto;" class="dmf-program-list-item dmf-parent collapse show" data-toggle="DMF-EZ-collapse" data-codes="A_24UP|DT_MAST|FS_BUSI|FS_HEAL|FS_HU-RS|FS_LEMA|F_ONLI|PT_CONC|PT_DEGR">
    <div class="dmf-prog-list-top-row">
        <div class="dmf-icon-group">
        <div class="dmf_degree_type-tag {{ parent.degree_type }}">
            <div class="dmf_degree_type-tag"><span data-code="dmf_degree_type-{{ parent.something }}">{{ parent.something }}</span></div>
        </div>
        </div><a class="dmf-title" aria-label="{{ parent.title }} - {{ parent.degree_type }} - Online - Concentration - Degree" href="/school-of-business/ma-in-leadership" tabindex="0"><span>{{ parent.title }}</span></a>
        <div class="dmf-format-icon-group">
        <div class="dmf_program_format-icon online"><span data-code="dmf_format-F_ONLI" class="dmf_online_icon dmf-format-bg-icon"></span></div>
        <div class="dmf_program_format-icon campus"><span></span></div>
        <div class="dmf_program_format-icon virtual"><span></span></div>
        </div>
    </div>
    {% dmf_program_child %}
</div>
  