{% load catalog_tags %}
<li>{{ vars }}</li>
{{ html|safe }}
<div class="dmf-results">
    <div class="dmf-results-key">
        <div>Online</div>
        <div>Campus</div>
        <div>OnlinePlus</div>
    </div>
    <div>
        {% dmf_program_parent %}
    </div>
    <div id="dmf-fixed-button-container" onclick="" class="dmf-visiblity" data-toggle="DMF-Fixed-Button" style="top: 540px; width: 1147.5px;">
        <div id="dmf-fixed-button">Reset All<div id="dmf-fixed-triangle"></div>
        </div>
    </div>
</div>
  