<!-- dpc_child_display.html -->
{% if childObject.count > 0 %}
{% for child in childObject.children %}
    {% if forloop.first  %}
    <div class="dmf-concentration-accordians dmf-concentration-accordians bg-blue text-white py-3 pl-4 mt-5">
        <h2>Concentrations:</h2>
    </div>
    <div id="dmf-concentration-accordion" class="dmf-acprog-list">
    {% endif %}
        <div class="acprog-heading">
            <div id="{{ child.slug }}" class="collapsed" data-toggle="collapse" data-target="#academicProgram-{{ child.pk }}" aria-expanded="false" aria-controls="academicProgram-{{ child.pk }}">
                <div class="expand-icon"><span class="fas fa-angle-down"></span></div>
                <h3>{{ child.title }}</h3>
            </div>
        </div>
        <div class="acprog-container collapse" id="academicProgram-{{ child.pk }}" aria-label="academicProgram-{{ child.title }} course description" data-parent="#dmf-concentration-accordion" style="" aria-expanded="true">
            {{ child.body_a|safe }}
            {{ child.body_b|safe }}
        </div>
    {% if forloop.last  %}
    </div>
    {% endif %}
{% endfor %}{% endif %}